/* Глобальний "border-box"
Використовуючи універсальний селектор *, значення border-box встановлюється для всіх елементів і псевдоелементів:

*,
*::before,
*::after {
  box-sizing: border-box;
} 
*/

:root {
  /* text & background #2e2f42 black white */
  --text-color: white;
  --bg-color: #2e2f42;
  --link-color: #7bb0ff;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 30px 20px;
  outline: 2px solid red;
  outline-offset: -2px;
  letter-spacing: 0.05em;
}

img {
  display: block;
  max-width: 100%;
}

.delta {
  margin-bottom: 6px;
}

.top-upper {
  margin-top: 30px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.link {
  color: var(--link-color);
}

/*  контур елемента 
  outline: 2px solid red;
  outline-offset: -2px; */

/**
  |============================
  | LESSON 5 - Block Model
  |============================
*/

/* === Геометрія елемента === */
/* Властивість "padding" */

.text {
  background-color: #fff;
  line-height: 1.5;
  border: 2px dashed #212121;
  padding: 20px;
}

.small-text {
  background-color: #fff;
  padding: 14px;
}

/* Властивість "margin" */
